@charset "utf-8";


/* Header */

body {
    padding-top: 3.5em;
}

@-moz-keyframes reveal-header {
    0% {
        top: -4em;
        opacity: 0;
    }

    100% {
        top: 0;
        opacity: 1;
    }
}

@-webkit-keyframes reveal-header {
    0% {
        top: -4em;
        opacity: 0;
    }

    100% {
        top: 0;
        opacity: 1;
    }
}

@-ms-keyframes reveal-header {
    0% {
        top: -4em;
        opacity: 0;
    }

    100% {
        top: 0;
        opacity: 1;
    }
}

@keyframes reveal-header {
    0% {
        top: -4em;
        opacity: 0;
    }

    100% {
        top: 0;
        opacity: 1;
    }
}

#header {
    background-color: #fff;
    box-shadow: 0 0 0.125em 0 rgba(0, 0, 0, 0.35);
    font-family: "Raleway", Helvetica, sans-serif;
    font-weight: 500;
    height: 3.5em;
    left: 0;
    line-height: 3.5em;
    position: fixed;
    text-transform: uppercase;
    top: 0;
    width: 100%;
    z-index: 10000;
}

#header h1 {
    height: inherit;
    left: 1.5em;
    line-height: inherit;
    margin: 0;
    padding-bottom: 0;
    position: relative;
}

#header h1:after {
    display: none;
}

#header h1 a {
    color: inherit;
}

#header h1 a span {
    font-weight: 500;
}

#header nav {
    height: inherit;
    line-height: inherit;
    position: absolute;
    right: 1.5em;
    top: 0;
}

#header nav > ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

#header nav > ul > li {
    display: inline-block;
    margin-left: 2em;
    padding: 0;
}

#header nav > ul > li > ul {
    display: none;
}

#header nav > ul > li a {
    text-decoration: none;
    border-bottom: 0;
}

#header nav > ul > li a:before {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    line-height: 1;
    text-transform: none !important;
    font-family: 'Font Awesome 5 Free';
    font-weight: 900;
}

#header nav > ul > li a:before {
    margin-right: 0.75em;
}

#header nav > ul > li:first-child {
    margin-left: 0;
}

#header .navPanelToggle {
    text-decoration: none;
    border: 0;
    height: 4em;
    position: absolute;
    right: 0;
    top: 0;
    width: 5em;
    display: none;
}

#header .navPanelToggle:before {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    line-height: 1;
    text-transform: none !important;
    font-family: 'Font Awesome 5 Free';
    font-weight: 900;
}

#header .navPanelToggle:before {
    content: '\f0c9';
    width: 3em;
    height: 3em;
    display: block;
    line-height: inherit;
    position: absolute;
    right: 0;
    top: 0;
    text-align: center;
}

#header + #banner {
    margin-top: -3.5em;
}

#header.reveal {
    -moz-animation: reveal-header 0.5s ease;
    -webkit-animation: reveal-header 0.5s ease;
    -ms-animation: reveal-header 0.5s ease;
    animation: reveal-header 0.5s ease;
}

#header.alt {
    background-color: #444;
    color: #fff;
    -moz-animation: none;
    -webkit-animation: none;
    -ms-animation: none;
    animation: none;
    background-color: transparent;
    box-shadow: none;
    overflow: hidden;
    position: absolute;
    top: 1.5em;
}

#header.alt input[type="submit"],
#header.alt input[type="reset"],
#header.alt input[type="button"],
#header.alt button,
#header.alt .button {
    background-color: transparent;
    color: #fff !important;
    box-shadow: inset 0 0 0 1px #fff;
}

#header.alt input[type="submit"]:hover,
#header.alt input[type="reset"]:hover,
#header.alt input[type="button"]:hover,
#header.alt button:hover,
#header.alt .button:hover {
    background-color: rgba(255, 255, 255, 0.075);
}

#header.alt input[type="submit"]:active,
#header.alt input[type="reset"]:active,
#header.alt input[type="button"]:active,
#header.alt button:active,
#header.alt .button:active {
    background-color: rgba(255, 255, 255, 0.2);
}

#header.alt input[type="submit"].primary,
#header.alt input[type="reset"].primary,
#header.alt input[type="button"].primary,
#header.alt button.primary,
#header.alt .button.primary {
    box-shadow: none;
    background-color: #fff;
    color: #444 !important;
}

#header.alt input,
#header.alt select,
#header.alt textarea {
    color: #fff;
}

#header.alt a {
    color: #fff;
}

#header.alt strong,
#header.alt b {
    color: #fff;
}

#header.alt h1,
#header.alt h2,
#header.alt h3,
#header.alt h4,
#header.alt h5,
#header.alt h6 {
    color: #fff;
}

#header.alt blockquote {
    border-left-color: rgba(255, 255, 255, 0.25);
}

#header.alt code {
    background: rgba(255, 255, 255, 0.075);
    border-color: rgba(255, 255, 255, 0.25);
}

#header.alt hr {
    border-bottom-color: rgba(255, 255, 255, 0.25);
}

#header.alt h1 {
    left: 2.5em;
}

#header.alt nav {
    right: 2.5em;
}

@media screen and (max-width: 1280px) {

    #header.alt {
        top: 0.75em;
    }

    #header.alt h1 {
        left: 1.5em;
    }

    #header.alt nav {
        right: 1.5em;
    }

}

@media screen and (max-width: 980px) {

    #header.alt {
        top: 0;
    }

    #header nav {
        display: none;
    }

    #header .navPanelToggle {
        display: block;
    }

}

@media screen and (max-width: 736px) {

    #header {
        height: 3em;
        line-height: 3em;
    }

    #header h1 {
        left: 1em !important;
    }

    #header h1 a {
        font-size: 0.9em;
    }

}

.dropotron {
    list-style: none;
    padding: 0;
    background: #fff;
    color: #444;
    min-width: 13em;
    padding: 0.75em;
    margin-top: -0.5em;
    font-family: "Raleway", Helvetica, sans-serif;
    font-weight: 500;
    text-transform: uppercase;
    box-shadow: 0 0 0.125em 0 rgba(0, 0, 0, 0.35);
}

.dropotron li {
    box-shadow: inset 0 1px 0 0 #e6e6e6;
}

.dropotron li:first-child {
    box-shadow: none;
}

.dropotron a {
    color: inherit;
    text-decoration: none;
    letter-spacing: 0.05em;
    font-size: 0.8em;
    display: block;
    line-height: 3em;
    border: 0;
}

.dropotron.level-0 {
    margin-top: 0;
}

.dropotron.level-0:before {
    content: '';
    border-left: solid 0.5em transparent;
    border-right: solid 0.5em transparent;
    border-bottom: solid 0.5em #fff;
    display: block;
    position: absolute;
    top: -0.45em;
    left: 50%;
    margin-left: -0.25em;
}

/* Navigation Panel */

#navPanel {
    -moz-transform: translateX(20em);
    -webkit-transform: translateX(20em);
    -ms-transform: translateX(20em);
    transform: translateX(20em);
    -moz-transition: -moz-transform 0.5s ease, box-shadow 0.5s ease, visibility 0.5s;
    -webkit-transition: -webkit-transform 0.5s ease, box-shadow 0.5s ease, visibility 0.5s;
    -ms-transition: -ms-transform 0.5s ease, box-shadow 0.5s ease, visibility 0.5s;
    transition: transform 0.5s ease, box-shadow 0.5s ease, visibility 0.5s;
    -webkit-overflow-scrolling: touch;
    background-color: #fff;
    box-shadow: none;
    display: none;
    height: 100%;
    max-width: 80%;
    overflow-y: auto;
    position: fixed;
    right: 0;
    top: 0;
    visibility: hidden;
    width: 20em;
    z-index: 10002;
    font-family: '노토', 'Noto Sans KR', sans-serif;
    font-weight: 500;
    text-transform: uppercase;
}

#navPanel nav {
    padding: 3em 2em;
}

#navPanel .link {
    border: 0;
    border-top: solid 1px #e6e6e6;
    color: inherit !important;
    display: block;
    font-size: 0.9em;
    padding: 0.75em 0;
}

#navPanel .link:first-child {
    border-top: 0;
}

#navPanel .link.depth-0 {
    font-weight: 700;
    color: inherit !important;
}

#navPanel .link .indent-1 {
    display: inline-block;
    width: 1.25em;
}

#navPanel .link .indent-2 {
    display: inline-block;
    width: 2.5em;
}

#navPanel .link .indent-3 {
    display: inline-block;
    width: 3.75em;
}

#navPanel .link .indent-4 {
    display: inline-block;
    width: 5em;
}

#navPanel .link .indent-5 {
    display: inline-block;
    width: 6.25em;
}

#navPanel .close {
    text-decoration: none;
    -moz-transition: color 0.2s ease-in-out;
    -webkit-transition: color 0.2s ease-in-out;
    -ms-transition: color 0.2s ease-in-out;
    transition: color 0.2s ease-in-out;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    border: 0;
    color: #444;
    cursor: pointer;
    display: block;
    height: 4em;
    padding-right: 1.25em;
    position: absolute;
    right: 0;
    text-align: right;
    top: 0;
    vertical-align: middle;
    width: 5em;
}

#navPanel .close:before {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    line-height: 1;
    text-transform: none !important;
    font-family: 'Font Awesome 5 Free';
    font-weight: 900;
}

#navPanel .close:before {
    content: '\f00d';
    width: 3em;
    height: 3em;
    line-height: 3em;
    display: block;
    position: absolute;
    right: 0;
    top: 0;
    text-align: center;
}

#navPanel .close:hover {
    color: inherit;
}

@media screen and (max-width: 736px) {

    #navPanel .close {
        height: 4em;
        line-height: 4em;
    }

}

#navPanel.visible {
    -moz-transform: translateX(0);
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0);
    box-shadow: 0 0 0.125em 0 rgba(0, 0, 0, 0.35);
    visibility: visible;
}

@media screen and (max-width: 980px) {

    #navPanel {
        display: block;
    }

}

@media screen and (max-width: 736px) {

    #navPanel {
        display: block;
    }

    #navPanel nav {
        padding: 2.25em 1.25em;
    }

}